body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.container, .welcome-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-container {
    text-align: center;
    padding: 40px;
}

h1, .welcome-title {
    color: #2c3e50;
    text-align: center;
}

.pregunta {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    color: #34495e;
}

.opciones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    flex-basis: 23%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button.selected::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.button.selected {
    transform: translateY(1px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    filter: brightness(110%);
}

.nunca {
    background-color: #e74c3c;
}

.aveces {
    background-color: #f39c12;
}

.habitualmente {
    background-color: #3498db;
}

.siempre {
    background-color: #2ecc71;
}

.submit-btn, .start-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-btn:hover, .start-btn:hover {
    background-color: #34495e;
}

.word-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    font-size: 16px;
}

.database-link {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.database-link:hover {
    background-color: #2980b9;
}

.flashes {
    list-style-type: none;
    padding: 0;
    color: #e74c3c;
}

/* Nuevo estilo para el botón en la página de agradecimiento */
.button.return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 20px;
}

.button.return:hover {
    background-color: #2980b9;
}