<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <!-- Set character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design for mobile devices -->
    <title>Gracias por su participación</title> <!-- Title of the page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to the external CSS stylesheet -->
</head>
<body>
<div class="container"> <!-- Main container for content -->
    <h1>Gracias por su participación</h1> <!-- Main heading -->
    <p>Su cuestionario ha sido completado exitosamente. Agradecemos su tiempo y sus respuestas.</p> <!-- Thank you message -->
    <a href="{{ url_for('main.index') }}" class="button return">Volver a la página principal</a> <!-- Link to return to the main page -->
</div>
</body>
</html>
