<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por su participación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Gracias por su participación</h1>
    <p>Su cuestionario ha sido completado exitosamente. Agradecemos su tiempo y sus respuestas.</p>
    <a href="{{ url_for('main.index') }}" class="button return">Volver a la página principal</a>
</div>
</body>
</html>