<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario de Evaluación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Cuestionario de Evaluación</h1>
    <form method="POST" onsubmit="return validarFormulario()">
        {% for pregunta in preguntas %}
            <div class="pregunta">
                <h2>{{ pregunta }}</h2>
                <div class="opciones">
                    <button type="button" class="button nunca" onclick="seleccionar(this, {{ loop.index }}, 1)">1 -
                        Nunca
                    </button>
                    <button type="button" class="button aveces" onclick="seleccionar(this, {{ loop.index }}, 2)">2 - A
                        veces
                    </button>
                    <button type="button" class="button habitualmente" onclick="seleccionar(this, {{ loop.index }}, 3)">
                        3 - Habitualmente
                    </button>
                    <button type="button" class="button siempre" onclick="seleccionar(this, {{ loop.index }}, 4)">4 -
                        Siempre
                    </button>
                    <input type="hidden" name="pregunta_{{ loop.index }}" id="pregunta_{{ loop.index }}" value="">
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Enviar respuestas" class="submit-btn">
    </form>
</div>

<script>
    function seleccionar(boton, preguntaId, valor) {
        // Deseleccionar todos los botones de la pregunta
        var botones = boton.parentElement.getElementsByClassName('button');
        for (var i = 0; i < botones.length; i++) {
            botones[i].classList.remove('selected');
        }

        // Seleccionar el botón clickeado
        boton.classList.add('selected');

        // Actualizar el valor del input hidden
        document.getElementById('pregunta_' + preguntaId).value = valor;
    }

    function validarFormulario() {
        // Verificar que todas las preguntas tengan respuestas
        var todasRespondidas = true;
        var totalPreguntas = {{ preguntas|length }};

        for (var i = 1; i <= totalPreguntas; i++) {
            var respuesta = document.getElementById('pregunta_' + i).value;
            if (respuesta === "") {
                todasRespondidas = false;
                break;
            }
        }

        if (!todasRespondidas) {
            alert("Por favor, responda todas las preguntas antes de enviar el cuestionario.");
            return false; // Evitar el envío del formulario
        }
        return true; // Permitir el envío del formulario
    }
</script>
</body>
</html>
