<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido de la Base de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Contenido de la Base de Datos</h1>

    <h2>Cuestionarios</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>ID Mando</th>
            <th>Tipo</th>
            <th>Frase Semilla</th>
            <th>Usado</th>
        </tr>
        {% for cuestionario in cuestionarios %}
            <tr>
                <td>{{ cuestionario.id }}</td>
                <td>{{ cuestionario.manager_id }}</td>
                <td>{{ cuestionario.tipo }}</td>
                <td>{{ cuestionario.frase_semilla }}</td>
                <td>{{ cuestionario.usado }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Respuestas</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>ID Cuestionario</th>
            <th>ID Pregunta</th>
            <th>Respuesta</th>
            <th>Timestamp</th>
        </tr>
        {% for respuesta in respuestas %}
            <tr>
                <td>{{ respuesta.id }}</td>
                <td>{{ respuesta.cuestionario_id }}</td>
                <td>{{ respuesta.id_pregunta }}</td>
                <td>{{ respuesta.respuesta }}</td>
                <td>{{ respuesta.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('main.index') }}" class="button return">Volver a la página principal</a>
</div>
</body>
</html>
